body, html{
    height: 100%;
}

body{
    padding-top: 70px;
    /*background-color: #A8C5E5*/
}

.space{
    height: 70px;
}

footer{
    background:#525252;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:6px;
    height:30px;
    display: flex;
    justify-content: center;
}

#main-body{
    min-height:100%;
    margin:0 auto;
    position:relative;
    padding-bottom: 30px;
}
@font-face{
    font-family: "digital";
    src: url("fonts/Digital Play St.ttf");
  }
.lcd{
    font-family: digital;
    font-size: 50px;
    text-align: center;
}
/*[class*="col-"]{
    border: 1px solid black;
    border-radius: 3px;
}*/
img{
    position: relative;
    top: -5px;
}
.spe{
    width: 100%;
}
.affich{
    margin-bottom: 150px;
}
